<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#"
      th:action="@{/process}"
      th:object="${department}"
      method="post">

    <input type="hidden" th:field="*{id}" />

    Employee :<select th:field="*{employee}" class="form-control input-md">
    <option th:each="choose: ${employees}"
            th:value="${choose.id}">[[${choose.id}]]</option>
</select><br/>

    Department 1 :<input type="text" th:field="*{depOne}" />
    <span th:if="${#fields.hasErrors('depOne')}"
          th:errors="*{depOne}"></span><br/>

    Department 2 :<input type="text" th:field="*{depTwo}" />
    <span th:if="${#fields.hasErrors('depTwo')}"
          th:errors="*{depTwo}"></span><br/>


    Department 3 :<input type="text" th:field="*{depThree}" />
    <span th:if="${#fields.hasErrors('depThree')}"
          th:errors="*{depThree}"></span><br/>

    <input type="submit" value="Submit" />
</form>
</body>
</html>