<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#"
      th:action="@{/process}"
      th:object="${department}"
      method="post">

    <input type="hidden" th:field="*{id}" />

    Employee :<select th:field="*{employee}" class="form-control input-md">
    <option th:each="choose: ${employees}"
            th:value="${choose.id}">[[${choose.id}]]</option>
</select><br/>

    Department :<input type="text" th:field="*{depName}" />
    <span th:if="${#fields.hasErrors('depName')}"
          th:errors="*{depName}"></span><br/>
    <br />

    <input type="submit" value="Submit" />
</form>
</body>
</html>