<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<a href="/"><b>Back to Previous Page</b></a><br/>
Employee :<span th:text="${department.id}" ></span><br />

First Name :<span th:text="${department.employee.fName}"/></span><br />
Last Name :<span th:text="${department.employee.lName}"/></span><br />
Job Title :<span th:text="${department.employee.jobTitle}"/></span><br />
Department name :<span th:text="${department.depOne}"/></span><br />

</body>
</html>